body {
	background-color: {{ bgc }};
	color: {{ n_red }} !important;
	font-size: 16px;
}

a, a:link {
	   color: {{ n_white }} !important;
	   text-decoration: none !important;
}

a:hover {
	color: {{ b_white }} !important;
	text-decoration: none !important;
}

li {
	list-style: none;
}

ul {
	text-align: left !important;
	padding-left: 13px !important;
}

ul li {
	list-style: none;
	display: inline;
	text-align: left;
}

ul li:after {
	color: {{ n_red }} !important;
	content: " //" !important;
}

ul li:last-child:after {
	content: "" !important;
}

div.books {
	margin-left: 30% !important;
	text-align: left !important;
	padding-left: 0px;
	display: table;

	font-family: {{ fffont }};
	font-weight: 300;
	font-size: 0.75em;

	position: absolute;
	left: 0px;
	top: 30%;
}

div.books2 {
	margin-right: 70% !important;
	text-align: right !important;
	color: {{ fgc }};
	float: right;
	display: table;

	font-family: {{ fffont }};
	font-weight: 300;
	font-size: 0.75em;

	position: absolute;
	right: 0px;
	top: 30%;
}

ul li#books2 {
	float: right !important;
}

ul li#books2:after {
	content: "" !important;
}