@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*
//////////////////////////////////////////////////////////////////////
/                       GENERAL UI CHANGES                           /
//////////////////////////////////////////////////////////////////////
*/

/* Set Font */

#urlbar, #TabsToolbar .tabbrowser-tab, menu, .autocomplete-richlistbox, #menubar-items, statuspanel[type="overLink"] .statuspanel-label, toolbarbutton, #placeContent, #placesList, .editBMPanel_rowLabel, .textbox-input-box, .viewer-title.label.toolbar, .downloadTarget, .downloadDetails, #bookmarks-view-children, #sidebar-search-label, #sidebar-title, .menubar-text {
    font-family: 'Leggie'!important;
    font-size: 11px !important;
    text-shadow: none !important;
    font-weight: normal !important
}

/*Internal Border & Account for URL Bar Spacing*/

#main-window:not([chromehidden*="toolbar"])[sizemode="normal"] {
    margin-top:-1px!important;
    margin-left:-1px!important;
    margin-right:-1px!important;
    margin-bottom: 32px !important;
}

/*
///////////////////////
/ EDITOR MENU SCREENS /
///////////////////////
*/

.browserContainer > findbar {
    text-shadow: none;
    border: 0px !important;
    padding-bottom: 30px !important;
}

.findbar-textbox, #header-search, .header-button, button {
    border: 0px !important;
}

/*
//////////////////////////////////////////////////////////////////////
/                           TAB CHANGES                              /
//////////////////////////////////////////////////////////////////////
*/

#TabsToolbar {
    background: transparent !important;
    margin-bottom: 0 !important;
}

#TabsToolbar .tabbrowser-tabs {
    min-height: 24px !important;
    margin-top: 0px !important;
    margin-bottom: -2px !important;
    text-align: center !important;
    margin-left: -17px !important;
    margin-right: -17px !important;
}

/*Tab Width Spanning*/

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
    min-width: 10px !important;
    max-width: 100% !important;
}

#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style:  solid !important;
    border-width: 0px 0px 0px 0px !important;
    text-shadow: 0 0 4px rgba(80,80,80,.2) !important;
    padding: 0px 0px !important;
    border-radius: 0px !important;
    background-clip: padding-box !important;
    transition: all .1s !important;
    margin-left: 0px !important;
    border-color: #aaaaaa !important;
}

#tabbrowser-tabs{ /* Tab container*/
    margin-left:-10px; /* Flush with the side of the window */
    margin-right: -15px; /* You need like 5-7 tabs open for this to come into effect */
    margin-bottom: -10px; /* Since we shrink the tab size, we have to shrink the container to match */
}
.tabbrowser-tab{ /* Actual tabs */
    max-height:16px;
    margin: 0 0px;
    padding: 0;
}

.tab-background-middle{
    background-image: none!important;
}

/* Tab separators */

.tabbrowser-tab::after, .tabbrowser-tab::before {
    background-image: none!important;
}

/* Tab things we don't want to exist */

#tabbrowser-tabs tab .tab-close-button, .tabbrowser-tab:not([pinned]) .tab-icon-image, #TabsToolbar:not(:-moz-lwtheme)::after, .tab-background-start, .tab-background-end, #TabsToolbar .tabbrowser-tab[last-visible-tab]:after, .tab-throbber {
    display: none !important;
}

/*
//////////////////////////////////////////////////////////////////////
/                        NAV/URLBAR CHANGES                          /
//////////////////////////////////////////////////////////////////////
*/

#addon-bar, #PersonalToolbar, #nav-bar {
    background: {{ bgc }} !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: rgb(70,70,70) !important;
    border-radius: 0px !important;
}

.subviewbutton.panel-subview-footer {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

/*styling*/
#searchbar > .searchbar-textbox, #nav-bar {
    background: {{ bgc }} !important;
    border: 0px {{ bgc }}!important;
    box-shadow: none !important;
    height: 33px !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: -1 !important;
}

#urlbar {
    color: {{ b_white }}!important;
    text-align: center !important;
    border-radius: 0px !important;
    border: none !important;
    margin: 0 0 0 0 !important;
    height: 33px !important;
    width: 2000px !important;
    padding-bottom: 15px !important;
    padding-left: 20px;
}

#PanelUI-button, #customization-panel-container, #customization-panelWrapper .panel-arrow, #ctr_panelui-button, #wrapper-ctr_panelui-button {
    -moz-box-ordinal-group: 0
}

#PanelUI-button {
    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;
    background: url('http://i.imgur.com/NEflko3.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    width: 5px !important;
}

#PanelUI-menu-button {
    display: none !important;
    opacity: 0 !important;
    width: 5px !important;
    margin-right: -10px !important;
}

tabbrowser tabpanels, #appcontent > #content {
    background: var(--bg-light) !important;
}

#browser-bottombox {
    border: none !important;
}

#nav-bar {
    border: none !important;
    visibility: visible !important;
}

#navigator-toolbox:after {
    height: 0px !important;
}

/* URL/Navbar things we don't want to exist */

#nav-bar  #back-button > .toolbarbutton-icon, #forward-button, #PanelUI-button .button-icon, #PanelUI-button .button-text, #identity-box, #dropmarker-icon, #historydropmarker, #autocomplete-history-dropmarker, #urlbar-history-dropmarker, #dropmarker, #autocomplete-history-dropmarker, #urlbar-history-dropmarker, #urlbar-reload-button, .autocomplete-history-dropmarker.urlbar-history-dropmarker, #plugins-notification-icon, #notification-anchor-icon, #notification-popup-box, .scrollbutton-up, .scrollbutton-down, #alltabs-button,.tabs-newtab-button, #browser-border-end, #browser-border-start, #go-button, #urlbar-go-button {
    display: none !important;
}

/*
//////////////////////////////////////////////////////////////////////
/                     HERE LIES THE COLOUR SHIT                      /
//////////////////////////////////////////////////////////////////////
*/

/* MAIN GUI BACKGROUND COLOR */
#main-window:not([chromehidden*="toolbar"])[sizemode="normal"], #TabsToolbar .tabbrowser-tab, .findbar-container, .browserContainer > findbar, .findbar-textbox, #editor-tools, .main-content, #header-search, .header-button, button, #urlbar {
    background-color: {{ bgc }} !important;
}

/*
//////////////////////
/ URL/NAVBAR COLOURS /
//////////////////////
/*

/* Selected from dropdown */

.autocomplete-richlistitem[selected="true"], .autocomplete-richlistiem:hover{
    background-color: #fff!important;
    color: {{ b_white }} !important;
    text-decoration: underline;
}

/* Selected text inside the URL bar */

#urlbar *|*::-moz-selection {
    background: {{ n_black }};
    color: #fff;
}

/*
///////////////
/ TAB COLOURS /
///////////////
*/

#tabbrowser-tabs, .tabbrowser-tab:hover .tab-label, .tabbrowser-tab[selected="true"] .tab-label, .ac-title, .ac-description, .ac-url-text, .ac-emphasize-text {
    background-color: {{ bgc }} !important;
    color: {{ b_white }} !important;
}

/* Tab hovering */
.tabbrowser-tab:hover .tab-background-middle {
    background-color: {{ bgc }} !important;
}

/* Selected Tab Name */
.tabbrowser-tab[selected="true"] .tab-background-middle, .tabbrowser-tab[selected="true"] .tab-content{
    background-color: {{ bgc }} !important;
    {{ ^floating }}border-bottom: solid 1px {{ b_white }} !important; {{ /floating }}
}

/* Unselected Tab Names */
#TabsToolbar .tabbrowser-tabs, #TabsToolbar .tabbrowser-tab:not([selected]) {
    color: {{ n_white }} !important;
}

/*
//////////////////
/ EDITOR COLOURS /
//////////////////
*/

.findbar-container, .browserContainer > findbar, .findbar-textbox {
    color: #575757!important;
}

#editor-tools, .devtools-toolbarbutton, .main-content, .addon[selected], #header-search, .header-button, button, button:hover {
    color: #fcfcfc!important;
}

.addon[selected], button:hover {
    background-color: #606060 !important;
}