    @-moz-document domain("boards.4chan.org")  {

    body {

      font-family: Armata !important;

      font-size: 11px !important;

      background:none !important;

      background-color: {{ bgc }} !important;

      color:rgb(195, 195, 195) !important;

      padding-bottom: 70px !important;

    }

          div.navLinks.desktop {
                margin: auto !important;
                width: 152px !important;
          }

      .post {

        border: 0px #000000!important;

    }

      .replyContainer {

        padding: 4px !important;

    }

      .post.reply, div.reply {

        background-color: {{ bgc }} !important;

        width:80%!important;

        margin-left:10%!important;

      }

      .postMessage {

        color: {{ n_white }} !important;

      }

      div.opContainer {

        display: block !important;
        overflow: auto !important;

      }

      img#toggleMsgBtn.extButton{

        display: none !important;

      }

      div.navLinks.navLinksBot.desktop {

        color: transparent !important;

        margin-bottom: 0px !important;

        margin-top: 30px !important;

      }

        div.navLinks.navLinksBot.desktop a{

        color: #000000 !important;

        margin-bottom: 0px !important;

        margin-top: 30px !important;

      }

      #quickReply input[type="text"], #quickReply textarea, #quickReply #recaptcha_response_field {
        border: 0px solid #AAA;
        font-family: Armata;
        font-size: 10pt;
        outline: medium none;
        width: 296px;
        padding: 2px;
        margin: 0px 0px 1px;
    }

      div.recaptcha_input_area {
        position: relative !important;
        background: transparent none repeat scroll 0% 0% !important;
    }

      input[type="password"]{
        display: none !important;
    }


    div#qrHeader.drag.postblock {
        background-color: #000000;
        color: transparent !important;
        font-family: Armata !important;
        border: 0px solid #000;
        padding: 0px 5px;
        font-size: 10pt;

    }

      #quickReport, #quickReply {
        display: block;
        position: fixed;
        padding: 2px;
        font-size: 10pt;
        border: 0px !important;
            box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, .3);
    }

      .rc-anchor-normal {
        background: #333333 none repeat scroll 0% 0%;
        border: 0px solid #D3D3D3;
        color: #000;
    }

      #qrepClose, #qrClose {
        background: url('http://i.imgur.com/TkuW5hs.png') !important;
        float: right;
    }

      .thread-stats {

       color: #212121 !important;

      }

      div.postMenu {

            background-color: #e5e3d8;

      }

    #quickReport, #quickReply {

      background-color: {{ bgc }} !important;

      color: #ffffff !important;

    }

      #qrepHeader, #qrHeader {

      background-color: #212121 !important;

      color: #ffffff !important;

    }

    .post.reply, .opContainer, .post.reply {

        padding: 15px !important;

        border: 0px !important;

        -moz-box-sizing:border-box!important;

    }

        #quickReply textarea {

            background-color: {{ bgc }} !important;

          color: #ffffff !important;

          border: 0px !important;

    }

    #threadWatcher {

      background-color: #212121 !important;

      color: #000000 !important;

      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, .3);

      border: 0px !important;

    }



    .hasNewReplies {

      font-family: 'Armata'!important;

    }

    span.postNum a {

        padding-top: 12px !important;

      }



        #watchList li {

            color: {{ n_blue }} !important;

    }

      #watchList a {

          color: {{ n_blue }} !important;

        outline: 0 !important;

    }

        #watchList a:hover {

            color: {{ b_blue }} !important;

               transition: color .5s ease-out;

    }


      #twHeader {

        color: transparent !important;

        height: 2px !important;

      }


      #threadWatcher {

        line-height: 18px !important;

        max-width: 200px;

        display: block;

        position: absolute;

        padding: 3px;

        text-decoration: none !important;

    }

      .yotsuba_b_new #watchList li:first-child {

          border-top: 0px solid {{ n_blue }};

    }

     span.dateTime{
           display: none !important;
     }

        div.post div.postInfo span.postNum{

            background-color: {{ n_white }};

        float: right;

    }

      div.postInfo span.postNum a {

        font-family: 'Armata' !important;

        background-color: {{ bgc }} !important;

        position: absolute;

        text-align: center !important;

        margin-left: -110px !important;

        color: {{ n_white }} !important;

        height: 28px !important;

        width: 120px !important;

        margin-top: -10px !important;

        float: right;

    }

      div.postInfo span.postNum a:hover {


                transition: color .3s ease-out;

    }



    .reply:target, .reply.highlight {

        background: #f0f0f0 none repeat scroll 0% 0% !important;

        border: 0px !important;

        padding: 2px;

    }


      input[type=checkbox], a.hide-reply-button {

          display: none !important;

      }


      div.post div.file .fileThumb img {

        border: 0px none;

        padding-top: 13px !important;

        float: left;

    }


      div.post div.file .fileThumb{

        outline: 0;

        opacity: 0.6;

        transition: opacity .5s ease-out;

      }


      div.post div.file .fileThumb:Hover{

        outline: 0;

        opacity: 1;

      }

     span.name, span.postertrip {

	 color: {{ b_white }}  !important;

       font-weight: normal !important;

     }

      div.post blockquote.postMessage {

        display: block;

        padding-top: 2px !important;

    }

         .fileText {

          opacity: 0 !important;

                transition: opacity .5s ease-out;

      }

        .fileText:hover {

         opacity: 1 !important;

          transition: opacity .5s ease-out; }


      .quotelink {

          color: {{ n_blue }}  !important;

        text-decoration: none !important;

      }

     .backlink a {

          opacity: 0 !important;

                transition: opacity .5s ease-out;

      }

     .backlink a:hover {

          opacity: 1 !important;

                transition: opacity .5s ease-out;

      }

         .postMenuBtn {

          opacity: 0 !important;

                transition: opacity .5s ease-out;

      }

        .postMenuBtn:hover {

         opacity: 1 !important;

                transition: opacity .5s ease-out;

      }

       .burichan_new .backlink a, .yotsuba_b_new .backlink a {

           color: {{ n_blue }}  !important;

         text-decoration: none !important;

      }

      span.quote {

          color: {{ n_blue }} !important;

      }

      .shortcut-icons:root #shortcuts a .fa, .menu-button .fa, .hide-reply-button .fa, .hide-thread-button .fa {
        display: none;
      }

      a, a.quotelink, a:not(:hover), .boxcontent > ul, a:visited, a.replylink:not(:hover), div#absbot a:not(:hover) {

											       color: {{ n_blue }} !important;

      }

      div.post div.postInfo span.postNum a:hover,.posteruid .hand:hover, .post.reply.highlight, div.replay, span.subject, a.replylink, a.quotelink:hover, a:hover, div#absbot a {
	  color: {{ n_white }} !important;
      }

      div.navLinks.navLinksBot.desktop, a.qr-link-bottom {
        display: none !important;
      }

      textarea.field, input.field {
            font-family: Armata !important;
            background-color: {{ bgc }} !important;
      }

      #qr-no-file, .has-file #qr-filename {
            font-family: lemon !important;
}

      #qr .field {
	  background-color: {{ bgc }} !important;
}

          .rc-anchor-dark {
	      background: {{ bgc }} none repeat scroll 0% 0% !important;
    border: 0px solid #525252 !important;
    color: #c9c9c9 !important;
    font-family: Armata !important;
}

      img.bottomad, .bottomad > div, .bottomad a img, .ad-plea, .topad,.boardBanner, .middlead, .aboveMidAd, #absbot, #boardNavDesktopFoot, .stylechanger, hr, .deleteform, #blotter-msgs, #blotter-desktop, .globalMessage, #boardNavDesktop,.form, #togglePostFormLink.desktop, #toggleBlotter, #blotter, .yotsuba-b:root div.boardTitle, .sideArrows, .center,   #twPrune   {
      display: none !important;
    }
      #board-list a, #shortcuts a:not(.entry) {
      text-decoration: none;
      padding: 1px;
      font-family: Armata !important;
}

#header-bar.dialog {
    background-color: {{ bgc }} !important;;
}

#qr {
    background-color: {{ n_black }} !important;
}

.dialog {
    background-color: {{ bgc }} !important;;
    border-color: #111;
}

#thread-watcher {
    background-color: {{ n_black }} !important;
}

span.fa.fa-minus-square-o {
    display: none !important;
}

}

@-moz-document domain("reddit.com") {

.res-nightmode .RES-keyNav-activeElement, .res-nightmode .RES-keyNav-activeElement .usertext-body, .res-nightmode .RES-keyNav-activeElement .usertext-body .md, .res-nightmode .RES-keyNav-activeElement .usertext-body .md p, .res-nightmode .commentarea .RES-keyNav-activeElement .noncollapsed, .res-nightmode .RES-keyNav-activeElement .noncollapsed .md, .res-nightmode .RES-keyNav-activeElement .noncollapsed .md p {
    background-color: {{ bgc }} !important;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe {
    background-color: {{ bgc }} !important;
    color: {{ fgc }} !important;
  font-family: "Roboto" !important;
  font-size: 8pt !important;
}

.res .commentarea .thing {
  padding: 0px 0px 0px 0px !important;
}

.link .midcol {
  width: 20px !important;
}

.res-nightmode #header, .res-nightmode #header-bottom-left {
    background: {{ bgc }} none repeat scroll 0% 0% !important;
}

.pagename a{
    color: {{ fgc }} !important;
}

.sr-bar a {
    color: {{ fgc }} !important;
}

.link .rank, .rank-spacer {
  display: none !important;
}

#header-bottom-right {
  top: 19px;
  border-radius: 0px 0px 0px 0px;
  bottom: auto;
  height: 14px;
}

#srList thead td, #srList td.RESvisited, #srList td.RESshortcut {
    color: {{ fgc }} !important;
}

#sr-header-area a.RESShortcutsCurrentSub, #RESSubredditGroupDropdown .RESShortcutsCurrentSub a{
    color: {{ n_red }} !important;
}

.tabmenu li a {
    color: {{ fgc }} !important;
    background-color: {{ bgc }} !important;
}

.tabmenu li.selected a {
    color: {{ n_red }} !important;
}

.md a {
    color: {{ n_blue }} !important;
}

.md a:hover {
    color: {{ b_blue }} !important;
}

}

@-moz-document domain("wikipedia.org"), domain("wikimedia.org"), domain("wiktionary.org"), domain("wikiquote.org"), domain("wikibooks.org"), domain("wikisource.org"), domain("wikinews.org"), domain("wikiversity.org"), domain("wikimediafoundation.org"), domain("mediawiki.org"), domain("wikivoyage.org"), domain("wiki.openstreetmap.org"), domain("wikidata.org"), domain("translatewiki.net"), url-prefix("http://www.baka-tsuki.org/project/") {

body {

    background-color: {{ bgc }} !important;

}



#bodyContent {

  max-width: 940px !important;

  margin: 0 auto !important;

}


.mw-body {
    color: {{ fgc }} !important;
}

.mw-content-ltr {

    background-color: {{ bgc }}!important;

  padding: 40px !important;

  border: 1px solid {{ b_black }} !important;

  max-width: 940px;

  margin: 0 auto;

}



#content {

    background-color: {{ bgc }} !important;

  border: 0 !important;

}


a {
    color: {{ n_blue }} !important;
}


#mw-content-text {

  position: relative !important;

  left: -87px !important;

}



#mw-content-text:before, #mw-content-text:after {

  content: " " !important;

  display: table !important;

}



#mw-content-text:after {

  clear: both !important;

}



#mw-page-base {

    background-color: {{ bgc }} !important;

  background-image: none !important;

}



.vectorTabs ul li {

  background-image: none !important;

  background-color: {{ bgc }} !important;

}



.vectorTabs, .vectorTabs span, .vectorTabs ul {

  background-image: none !important;

}



#mw-head, #mw-panel {

  opacity:0 !important;

  background-color: {{ bgc }} !important;

}



#mw-head:hover, #mw-panel:hover {

  opacity:1 !important;

  -webkit-transition: all .25s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -o-transition: all .25s ease-in-out;

  -ms-transition: all .25s ease-in-out;

  transition: all .25s ease-in-out;

  z-index:999 !important;

}



#p-logo {

    background-color: {{ bgc }} !important;

}



#firstHeading {

  font-family: Arial, Helvetica, sans-serif !important;

  text-align: center !important;

  position: relative !important;

  left: -87px !important;

  margin-bottom: 0 !important;

  letter-spacing: 0.5px !important;

  opacity: 0.8 !important;

}



#siteSub {display:none !important;}



.topicon {opacity: 0.8;}



#coordinates {padding: 3px !important;}



.infobox {

  border: 0 !important;

  background-color: {{ bgc }} !important;

}

span.toctext {
    color: {{ b_black }} !important;
}

#toc, .toc {

  border: 0 !important;

  background-color: transparent !important;

  -webkit-box-shadow: none !important;

  box-shadow: none !important;

}



#toc h2 {display: none !important;}



h1 {

    color: {{ fgc }} !important;

  border-bottom: 0 !important;

}



h2 {

    color: {{ fgc }} !important;

  border-bottom: 0 !important;

  opacity: 0.9;

}



.page-Main_Page h2 {

  border-bottom: 1px solid #aaa !important;

}



h3, h4 , h5, h6 {

    color: {{ fgc }} !important;

  opacity: 0.9;

}

pre, .mw-code{
    color: {{ fgc }} !important;
}



.mw-editsection, .toctoggle {opacity:0 !important;}

.mw-editsection:hover, .toctoggle:hover {

  opacity:1 !important;

  -webkit-transition: all .25s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -o-transition: all .25s ease-in-out;

  -ms-transition: all .25s ease-in-out;

  transition: all .25s ease-in-out;

  z-index:999 !important;

}





#content p, .infobox, .wikitable, #content ul, #content ol, .thumbcaption {

    color: {{ fgc }} !important;

}



blockquote, .quotebox, pre, code, .mbox-small, .mbox-small-left, .tleft, .tright, .tright table, .navbox, #editpage-specialchars, .editOptions {

  border: 0!important;

  background-color: {{ bgc }} !important;

}



blockquote p {

  padding: 8px !important;

}



.navbar {opacity:0 !important;}

.navbar:hover {

  opacity:1 !important;

  -webkit-transition: all .25s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -o-transition: all .25s ease-in-out;

  -ms-transition: all .25s ease-in-out;

  transition: all .25s ease-in-out;

  z-index:999 !important;

}



.thumbinner {

  border: 0 !important;

  border-style: none !important;

  border-width: 0 !important;

  -webkit-box-shadow: none !important;

  box-shadow: none !important;

  background-color: transparent !important;

}

td, span, i {
    color: {{ b_black }} !important;
}

.magnify {display: none !important;}



/* Hide maintenance message box */

.ambox, .ombox {display: none;}



/* Hide inline maintenance tags */

.Inline-Template, .Template-Fact, .Template-Timefact {display: none;}



.stub, #tfd {display: none !important;}



/* Hide footnote markers eg. [1] */

.reference {display: none;}



/* Hide References section */

#References, .reflist {display: none;}

#References + span {display: none;}



#catlinks, #mw-data-after-content {

  opacity:0 !important;

  position: relative;

  left: -87px;

}

#catlinks:hover, #mw-data-after-content:hover {

  opacity:1 !important;

  -webkit-transition: all .25s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -o-transition: all .25s ease-in-out;

  -ms-transition: all .25s ease-in-out;

  transition: all .25s ease-in-out;

  z-index:999 !important;

}

/* chemical structures */ #mw-content-text > p img, #mw-content-text > dl img, /* math formulas */ img.tex { background: #eee !important; padding: 2px; border-radius: 3px; }

/* most images */ .image > img[src^="//upload.wikimedia.org/"]:hover, #bodyContent .image > .thumbborder:hover,

/* structures, signatures */ #mw-content-text > table > tbody > tr > td > .image > img, /* history */ .filehistory a img, #file img,

/* music notes on Guitar */ #bodyContent .infobox .image > img:hover,

/* other images */ img.thumbimage, .thumb .image > img { background: #eee !important; padding: 0; }

/* home text logo */ .central-textlogo > img, #wm-home-header > img, a[href="/wiki/Wikisource"] > img[alt="Wikisource"] { background: #eee; padding: 5px; border-radius: 8px; }

#p-logo, #www-wikimedia-org img, .central-featured-logo-inner > img[title="Wiktionary"] { background: #333 !important; border-radius: 8px; }

#p-logo:hover, #www-wikimedia-org img:hover { background: #49c !important; }

/* 21x21 */ .articleFeedback-rating-label, .articleFeedback-rating-clear, .articleFeedback-switch { border-radius: 11px; }

/* fr */ img[src$="/Bluebg_rounded.png"] { visibility: hidden; }

  table {
      background-color: {{ bgc }} !important;
  }

  #section {
      color: {{ fgc }} !important;
  }

#footer {

  display: none !important;

}



}